h1{
    color: white;
    padding: 150px;
    font-family: 'Lobster', cursive;
    font-size: 3em;
    text-align: center;
    background-image: url("image/imagefond.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

h4{
    text-align: center;
    color: white;
    border: 2px solid rgb(231, 25, 25);
    border-radius: 10px 30px 0px 90px;
    box-shadow: 6px 6px 15px black;
}
.ma_classe{
    color: white;
    text-align: justify;
}

.ma_classe2{
    color: rgb(20, 255, 51);
}
a{
    color: black;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-style: italic;
    color: white;
}

.ma_classe3{
    font-weight: 700;
}

body{
    background: linear-gradient(#fceabb, #f8b500);
}

img:hover{
    opacity: 0.5px;
}